body {
    font-family: helvetica;
    margin: 0;
}

.container {
    width: 100%;
}

.top-wrapper {
    text-align: center;
}

.profile {
    float: left;
    margin-left: 10px;
}

.profile img {
    border-radius: 50%;
    width: 50px;
}


/* main1 */

.lesson-wrapper {
    height: 500px;
    padding-bottom: 80px;
    background-color: aliceblue;
}


/* main2 */

.main2 {
    border-bottom: 3px solid cadetblue;
    padding-bottom: 20px;
    text-align: center;
}

.heading h1 {
    font-family: serif;
    font-size: xx-large;
    font-weight: 500;
    color: cadetblue;
    margin: 40px 0px;
}

.team-members {
    /* item bertumpuk horizontal : buat di class yang membungkus item */
    display: flex;
    text-align: center;
}

.photo-member {
    /* mengisi seluruh ruang lebar milik element induknya. */
    flex: auto;
    /* display: inline-block; */
}

.photo-member h4 {
    text-align: center;
    font-family: initial;
    font-size: large;
    font-weight: bolder;
    color: cadetblue;
    margin-bottom: 1px;
    margin-top: 4px;
}

.photo-member p {
    text-align: center;
    font-family: auto;
    color: black;
    font-size: medium;
}

.socmed {
    text-align: center;
    margin-bottom: 20px
}

.socmed a {
    margin-right: 20px;
}